
.header {
    -fx-background-color: #A7D5FF;
    -fx-alignment: center;
    -fx-spacing: 5;
    -fx-padding: 15;
}

.subtitle {
    -fx-font-size: 18px;
    -fx-text-fill: darkslategray;//
}

.title {
    -fx-font-size: 28px;
    -fx-text-fill: black;
}

.card {
    -fx-background-color: white;
    -fx-background-radius: 15;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 15, 0, 0, 5);
    -fx-alignment: center;
    -fx-spacing: 10;
    -fx-padding: 20;
    -fx-pref-width: 100px;
}

.product-name {
    -fx-font-size: 20px;
}

.product-price {
    -fx-font-size: 16px;
    -fx-text-fill: gray;
}

.add-to-cart-btn {
    -fx-background-color: #007bff;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-background-radius: 8;
    -fx-pref-width: 300px;
}
